/* .AOBO{
    height: 100vh;
    background-color: #f5ebe0;
} */

.AOBO_container{
    position: absolute;
    top: 355%; left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    padding: 5px;

    /* border: 1px solid black; */
    width: 85%;
    height: 85%;
}