/* .Profile_container{
    height: 100%;
    background-color: #EDEDE9;
} */

.self_confidence{
    position: absolute;
    top: 120vh; left: 50%;
    transform: translate(-50%, -50%);
}

.name_card{
    width: 700px;
    height: 300px;
    position: absolute;
    top: 140vh; left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    display: flex;
    flex-direction: 'row';
}

.name_card_img{
    width: 200px;
    background-color: white;
}
.name_card_area{
    width: 60%;
    border-left: 1px solid black;
}

.name_card_text_title{
    position: absolute;
    top: 0;
    margin-left: 15px;
}
.name_card_info{
    position: absolute;
    bottom: 5%;
    right: 5%;
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
}
.name_card_info_icon{
    display: flex;
    flex-direction: column;
}
.name_card_info_text{
    display: flex;
    flex-direction: column;
    margin-bottom: 3px;
}