.Profile_container{
    height: 100%;
    position: relative;
}

.self_introduction{
    border: 1px solid black;
    position: absolute;
    top: 20%;
    left: 10%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.self_confidence{
    display: flex;
    flex-direction: column;
}

.self_introduction a:hover{
    color: #989898;
}

.name_card{
    width: 100%;
    height: 100%;
    position: relative;
}

.name_card_img{
    width: 200px;
    height: 200px;
    background-color: white;
}
.name_card_area{
    position: absolute;
    width: 400px;
    height: 50%;
    top: 20%;
    right: 10%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.name_card_info{
    position: absolute;
    bottom: 3%;
    right: 3%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    width: 200px;
    /* border: 1px solid black; */
}

.name_card_info_box{
    width: 100%;
    position: relative;
    display: flex;
    gap: 10px;
    flex: 1;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    background-color: #fff;
    border-radius: 10px;
}

.name_card_info_icon{
    width: 10%;
    color: #000;
}
.name_card_info_text{
    width: 70%;
    position: relative;
}