.Profile_container{
    height: 100%;
    background-color: #EDEDE9;
    /* background-color: #f5ebe0; */
}

.name_card{
    width: 60%;
    height: 300px;
    position: absolute;
    top: 40%; left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    display: flex;
    flex-direction: 'row';
}

.name_card_img{
    width: 40%;
}
.name_card_text{
    width: 60%;
    border-left: 1px solid black;
}

.name_card_text_title{
    position: absolute;
    top: 0;
}
.name_card_text_info{
    position: absolute;
    bottom: 0;
    display: flex;
}